{% extends 'base.html.twig' %}

{% block body %}
    <h4>¿Está a punto de eliminar la pruebamedica {{ prueba.titulo }}?</h4>
<br>
    {{ form_start(form) }}
        {{ form_widget(form) }}
    {{ form_end(form) }}
{% endblock %}